body{
     background-image: url("bg.jpg");
  background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    

}

.profile{
  display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;


 }

.info{
   border-style: solid;
    border-width: 5px;
    width: 30%;
    height: 500px; 
     background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
   
}
.click{
  
    border-width: 5px;
  padding: 30px;
    text-align: center;
    font-size: 35px;
    


}

.school{
   border-style: solid;
    border-width: 5px;
  
    width: 30%;
    height: 300px; 
    background-color: rgba(0, 0, 0, 0.5);
        padding: 20px;
    
}
.seminar{
   border-style: solid;
    border-width: 5px;
    width: 30%;
    height: 300px; 
   background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
  
}
.skills{
   border-style: solid;
    border-width: 5px;
    width: 30%;
    height: 450px; 
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    
}

.slider{

    width: 885px;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.8);
    box-bio: 0 4px 18px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.50);
    float: right;
    margin-right: 0px;
    margin-top: 0px;
    overflow: hidden;
}

.slide-holder{

    width: 6500px;
    padding: 5px;
    margin-left: 0px;

}

.slides{

    width: 990px;
    height: 490px;
    margin-right: 10px;
    display: inline;
    float: left;

}
.center{
  text-align: center;
  margin: 0 auto;
  
}
h1{
 color: hsl(0, 100%, 90%);
 opacity:0.8;
}
h2{
  color: red;

}
h3{
  color: white;


}
label{
    color: white;
    text-align: center;
}
.resume h1{
    text-align: center;
}

.contact{
   border-style: solid;
    border-width: 5px;
    
    width: 30%;
    height: 400px; 
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    
}

img{
    width: 50px;
    height: 50px;
}


.fb{
    position: relative;
    width: 50px;
    height: 30px;
    top: 10px;

   
    
}
.email{
    position: relative;
    width: 40px;
    height: 30px;
    bottom: 0px;
    top: 10px;
    left: 0px;
    right: 1px;

}
.phone{

    position: relative;
    width: 50px;
    height: 30px;

    top: 12px;
    right: 1px; 
}

.profile{
    
    width: 200px;
    height: 200px;
    top: 50px;
    right: 170px;

}

.contact h3{
  position: relative;
  font-size: 15px;
}

.bio{
  
    float: right;
   

}


  .bio{
  
  position: relative;
  margin: 5px auto 0;
  width: 880px;
  height: 500px;
  background: linear-gradient(0deg,#000,#262626);
}

.bio:before{
  content: '';
  position: absolute;
  top:  -3px;
  left: -2px;
  background: linear-gradient(45deg,#fb0094,#0000ff,#00ff00,#ffff00,#ff0000,#fb0094,
    #0000ff,#00ff00,#ffff00,#ff0000);
  background-size: 400%;
  width: calc(100% + 5px);
  height: calc(100% + 5px); 
  z-index: -1;  
  animation: animate 20s linear infinite;
}
.bio:after{
  filter: blur(20px);
}
@keyframes animate
{
  0%
  {
    background-position: 0 0;
  }
  50%
  {
    background-position: 400% 0;
  }
  100%
  {
    background-position: 0 0;
  }